node_modules/
.env
uploads/
dist/
recordings/
screenshots/
*.log
.DS_Store
coverage/
results.json
backend/data/
G:\Professional(G)\AiAgent\backend\frameworks\POM_Nov25\Data
G:\Professional(G)\AiAgent\backend\frameworks\POM_Nov25\Data
